@import url('./base.css');

:root {
  --color-light: #DEF3FF;
  --color-dark: #00131E;
  --color-accent-blue: #549AC3;
  --color-accent-red: #CD4747;
  --color-accent-orange: #CA6134;
}

html {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  min-height: 90dvh;
  font-size: 34px;
}

.page-title {
  text-align: center;
}
