@import url('./base.css');

:root {
  --color-light: #DEF3FF;
  --color-dark: #00131E;
  --color-accent-blue: #549AC3;
  --color-accent-red: #CD4747;
  --color-accent-orange: #CA6134;
}

html {
  font-family: "Jersey 10", sans-serif;
  font-optical-sizing: auto;
  background: var(--color-light);
  color: var(--color-dark);
  font-size: 18px;
}

body {
  min-height: 90dvh;
  font-size: 34px;
  /* padding: 1.5rem; */
}

.page-title {
  text-align: center;
}

@media screen and (max-width: 999px) {
  body {
    /* padding: 10px; */
  }
}
